body {

    max-width: 300px;
    margin: auto;
    display:flex; 
    flex-direction:column; 
    justify-content:center;
    min-height:100vh;
    background-image:url("./Images/engin-unsplash.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    
    
   
}


#button1 {
    border:none;
    padding-top: 10px;
    padding-bottom:10px;
    color:wheat;
    background-color:darkorange;
    font-weight: bold;
    width: 200px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#button2 {

    border:none;
    padding-top: 10px;
    padding-bottom:10px;
    color:wheat;
    background-color:darkorange;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;


}




h1 {
    font-size: 30px;
    font-weight: bold;
    font-family: "nunito", "sans-serif"; 
    margin-left: 40px;
    height: 5vh;
    color: wheat;
}

p {

    font-size: 20px;
    font-weight: bold;
    font-family: "nunito", "sans-serif"; 
    margin-left: 20px;
    color:white ;
    height: auto;
    padding-top: 0px;
    padding-bottom: 0px ;


}

.options {

    padding-bottom: 2px;
    padding-bottom: 2px;
    margin-left: 75px;
}

#message-el {

    font-style: italic;
    font-weight: bold;
    margin-right: 20px;
}